/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-black: hsl(0, 0%, 0%);
  --clr-primary-dark-gray: hsl(0, 0%, 19%);
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-primary-gray: hsl(225, 2%, 65%);

  --ff-primary: 'Inter', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
h1 {
  font-size: 12.5rem;
  line-height: 200px;
  letter-spacing: 0.5rem;
}
h2 {
  font-size: 3.5rem;
  line-height: 68px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.48rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
}
h6 {
  font-size: 0.938rem;
  line-height: 1.75rem;
  letter-spacing: 0.3rem;
}
p {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 28px;
  letter-spacing: 0.08rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
.day-theme {
  background: linear-gradient(rgba(46, 53, 50, 0.6), rgba(0, 0, 0, 0.2)),
    url(./assets/mobile/bg-image-daytime.jpg) center/cover fixed no-repeat;
  color: var(--clr-primary-white);
}
.night-theme {
  background: url(./assets/mobile/bg-image-nighttime.jpg) center/cover fixed
    no-repeat;
  color: var(--clr-primary-white);
}

main {
  height: 100vh;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
}

/* 
=============== 
Quote
=============== 
*/
.quote-container {
  margin: 0 auto;
  width: 90vw;
  padding: 3rem 1.5rem;
  display: flex;
  justify-items: space-between;
  align-items: center;
}
.quote-container p {
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.quote-btn {
  color: white;
  opacity: 0.6;
  font-size: 1.2rem;
  border: transparent;
  background: transparent;
  margin-left: 1rem;
  transition: var(--transition);
  cursor: pointer;
}
.quote-btn:hover {
  opacity: 1;
}
/* 
=============== 
Clock container 
=============== 
*/
.clock-container {
  margin: 0 auto;
  margin-top: 4rem;
  width: 90vw;
  padding: 3rem 1.5rem;
}
.greeting {
  display: flex;

  align-items: center;
}
.greeting h4 {
  font-weight: 400;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
}
.greetings-btn {
  color: white;

  font-size: 1.2rem;
  border: transparent;
  background: transparent;
  margin-right: 1rem;
}
.current-hour {
  display: flex;
  align-items: baseline;
}
.current-hour h1 {
  font-size: 7rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  line-height: 100px;
  letter-spacing: 0.2rem;
}
.current-hour h4 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.loading {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
  letter-spacing: 0.2rem;
}
.clock-container h3 {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}
.more-btn {
  display: flex;
  background: white;
  width: 7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto;
  padding: 0.4rem;
  border-radius: 25px;
  cursor: pointer;
}
.more-btn p {
  text-transform: uppercase;
  color: var(--clr-primary-black);
  margin-bottom: 0;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  margin-left: 0.5rem;
}
.more-btn span {
  background: var(--clr-primary-dark-gray);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition);
}
.more-btn span:hover {
  background: var(--clr-primary-gray);
}
