/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-bright-blue: hsl(220, 98%, 61%);
  --check-bcg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-light-gray: hsl(236, 33%, 92%);
  /* light theme */
  /* --theme-bg-mobile: url('./images/bg-mobile-light.jpg');
  --theme-bg-desktop: url('./images/bg-desktop-light.jpg');
  --bcg-color-container: hsl(0, 0%, 98%);
  --bcg-color-tasks: white;
  --clr-done-tasks: hsl(236, 33%, 92%);
  --clr-tasks: hsl(236, 9%, 61%);
  --clr-hover-task: hsl(235, 19%, 35%); */
  /* - Light Grayish Blue: hsl(233, 11%, 84%) */

  /* dark theme */
  /* - Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)  */

  --ff-primary: 'Josefin+Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
.ligth-theme {
  --theme-bg-mobile: url('./images/bg-mobile-light.jpg');
  --theme-bg-desktop: url('./images/bg-desktop-light.jpg');
  --bcg-color-container: hsl(0, 0%, 98%);
  --bcg-color-tasks: white;
  --clr-done-tasks: hsl(236, 33%, 92%);
  --clr-tasks: hsl(231, 3%, 39%);
  --clr-hover-task: hsl(235, 19%, 35%);
  --clr-footer-grey: hsl(230, 3%, 60%);
  --border-btn: hsl(233, 7%, 76%);
}
.dark-theme {
  --theme-bg-mobile: url('./images/bg-mobile-dark.jpg');
  --theme-bg-desktop: url('./images/bg-desktop-dark.jpg');
  --bcg-color-container: hsl(235, 21%, 11%);
  --bcg-color-tasks: hsl(235, 24%, 19%);
  --clr-done-tasks: hsl(234, 39%, 85%);
  --clr-tasks: hsl(236, 9%, 61%);
  --clr-hover-task: hsl(236, 33%, 92%);
  --clr-footer-grey: hsl(230, 3%, 60%);
  --border-btn: hsl(235, 19%, 35%);
}
.main {
  display: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background: var(--bcg-color-container);
  height: 100vh;
}
.img-container {
  position: absolute;
  top: 0;
}
.bcg-image {
  width: 100vw;
  height: 17rem;

  object-fit: cover;
}
.header {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 80vw;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50vw;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}
.header h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
.toggleBtn {
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .header {
    top: 20%;
    left: 22%;
    column-gap: 12rem;
    width: 60vw;
  }
  .header h2 {
    font-size: 2.2rem;
    letter-spacing: 1rem;
    margin-left: 2rem;
  }
  .toggleBtn {
    font-size: 1.8rem;
    cursor: pointer;
  }
  .bcg-image {
    height: 20rem;
  }
}
/*
=============== 
Form
===============
*/
.form-list-container {
  position: absolute;
  top: 24%;
  width: 80vw;
}

.form-input {
  border: transparent;
  background: var(--bcg-color-tasks);
  width: 100%;
  padding: 1rem 5rem;
  padding-right: 12rem;
  border-radius: var(--radius);
}
form {
  position: relative;
}
.form-btn {
  position: absolute;
  top: 24%;
  left: 5.5%;
  font-size: 1.25rem;
  border: var(--border-btn) 2px solid;
  border-radius: 50%;
  color: var(--bcg-color-tasks);
  background: transparent;
  display: grid;
  place-items: center;
  transition: var(--transition);
  cursor: pointer;
}
.form-btn:hover {
  border-image-slice: 1;
  border-image-source: var(--check-bcg);
}
@media screen and (min-width: 800px) {
  .form-list-container {
    top: 34%;
    width: 50vw;
  }
  .form-input {
    border: transparent;
    width: 100%;
    padding: 1rem 5rem;
    padding-right: 12rem;
    border-radius: 6px;
  }
}
/*
=============== 
List
===============
*/
.section-list {
  margin-top: 1.2rem;
  margin-bottom: 4rem;
  border-radius: 6px;
}
.single-task-container {
  background: var(--bcg-color-tasks);
  width: 100%;
  padding: 0.7rem 2rem;
  padding-top: 0.75rem;
  border-top: 1px solid var(--border-btn);
  border-bottom: 1px solid var(--border-btn);
  margin-top: -0.1rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 1.25rem;
  box-shadow: var(--light-shadow);
}
.task-btn {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.3rem;
  border: var(--border-btn) 2px solid;
  border-radius: 50%;
  color: var(--bcg-color-tasks);
  background: transparent;
  display: grid;
  /* place-items: center; */
  transition: var(--transition);
  cursor: pointer;
}
.task-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-btn:hover {
  border-image-slice: 1;
  border-image-source: var(--check-bcg);
}
.task-btn-completed {
  background: var(--check-bcg);
  border: transparent;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
}
.task-text-completed {
  color: var(--border-btn);
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 0.04rem;
  text-decoration: line-through;
}

.task-text {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--clr-tasks);
  letter-spacing: 0.04rem;
}
.close-btn-task {
  color: var(--border-btn);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Footer */
.footer-task-container {
  background: var(--bcg-color-tasks);
  width: 100%;
  padding: 1.2rem 2rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--light-shadow);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.footer-task-container p {
  font-size: 0.8rem;
  color: var(--border-btn);
  letter-spacing: 0.02rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
}
.footer-task-container p:hover,
.footer-list p:hover {
  color: var(--clr-tasks);
}
.big-screen-visible {
  display: none;
}
.footer-list {
  background: var(--bcg-color-tasks);
  width: 100%;
  padding: 1.2rem 6rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}
.footer-list p {
  font-size: 1rem;
  color: var(--clr-footer-grey);
  letter-spacing: 0.02rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .big-screen-visible {
    display: inline;
  }
  .footer-list {
    display: none;
  }
  .footer-task-container p {
    font-size: 0.7rem;
  }
  .big-screen-visible-container p {
    color: var(--clr-footer-grey);
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}
