/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary color */
  --clr-primary-cyan: hsl(180, 66%, 49%);
  --clr-primary-light-cyan: hsl(180, 47%, 75%);
  --clr-primary-dark-violet: hsl(257, 27%, 26%);
  --clr-primary-red: hsl(0, 87%, 67%);

  --clr-neutral-grey: hsl(0, 0%, 75%);
  --clr-neutral-light-grey: hsl(220, 33%, 93%);
  --clr-neutral-greyish-violet: hsl(257, 7%, 63%);
  --clr-neutral-very-dark-blue: hsl(255, 11%, 22%);
  --clr-neutral-very-dark-violet: hsl(260, 8%, 14%);

  --ff-primary: 'Poppins', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 920px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Navbar
===============
*/
.links-container {
  background: var(--clr-primary-dark-violet);
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0.55rem;
  transition: var(--transition);
  height: 0;
  overflow: hidden;
}

.nav-center {
  padding: 3rem 2rem;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-toggle {
  font-size: 2rem;
  border: transparent;
  background: transparent;
  color: var(--clr-neutral-grey);
  cursor: pointer;
}
.links a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem 3rem;
  margin: 0.2rem 0;
  transition: var(--transition);
  cursor: pointer;
}
.links a:hover {
  background-color: var(--clr-primary-cyan);
  border: none;
  padding: 1rem 3rem;
  text-align: center;
  margin: 0.2rem 0;
  cursor: pointer;
  border-radius: 35px;
}
.show-container {
  height: 10rem;
}
.links hr {
  width: 25rem;
  height: 2px;
  opacity: 20%;
}
@media screen and (min-width: 920px) {
  .nav-center {
    max-width: 1170px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-header {
    margin-bottom: 0;
  }

  .links-container {
    height: auto !important;
    background: white;
  }
  .nav-toggle {
    display: none;
  }
  .links hr {
    display: none;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  .links a {
    color: var(--clr-neutral-greyish-violet);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .links a:hover {
    color: var(--clr-primary-dark-violet);
    background: transparent;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 0px;
  }
  .login-links {
    display: flex;
    margin-left: 7rem;
    justify-content: space-between;
  }
  .login-links a {
    padding: 0.5rem 1rem;
    background: transparent;
  }
  .login-links a:hover {
    background: var(--clr-primary-cyan);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1100px) {
  .login-links {
    margin-left: 20rem;
  }
}
/*
=============== 
Hero
===============
*/
.hero-center {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.hero-center img {
  width: 90%;
}
.hero-info {
  display: grid;
  place-items: center;
  padding: 2rem;
  width: 90vw;
}
.hero-info h2 {
  font-size: 3rem;
  color: var(--clr-neutral-very-dark-violet);
  text-align: center;
  line-height: 3.5rem;
}
.hero-info p {
  color: var(--clr-neutral-greyish-violet);
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.hero-btn {
  background: var(--clr-primary-cyan);
  color: white;
  padding: 1.4rem 2.8rem;
  border-radius: 35px;
  text-align: center;
  border: transparent;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
}
.hero-btn:hover {
  background: var(--clr-primary-light-cyan);
}
@media screen and (min-width: 920px) {
  .hero-center {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'a b';
    column-gap: 2rem;
    padding-bottom: 6rem;
  }
  .hero-image {
    width: 60vw;
    object-fit: cover;
    grid-area: b;
    margin-right: -5rem;
  }
  .hero-info {
    grid-area: a;
    width: 40vw;
    margin-left: 5rem;
    justify-items: left;
  }
  .hero-info h2 {
    text-align: left;
    line-height: 3.5rem;
  }
  .hero-info p {
    color: var(--clr-neutral-grey);
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .hero-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    align-self: left;
  }
}
/*
=============== 
Advanced section
===============
*/
.advanced {
  background: var(--clr-neutral-light-grey);
}
/* Form */
.form-container {
  position: relative;
  background: url(./images/bg-shorten-mobile.svg) center/cover;
  background-size: 100% auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 10px;
}
.form-input,
.form-btn {
  margin: 0 2rem;
  border: transparent;
  border-radius: 10px;
  padding: 1.2rem 2.4rem;
}
.form-input {
  margin-bottom: 0.6rem;
  margin-top: 2rem;
}
.form-input::placeholder {
  font-size: 1.2rem;
  color: var(--clr-neutral-grey);
  letter-spacing: 0.1rem;
  align-self: left;
  justify-self: left;
}
.form-btn {
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  background: var(--clr-primary-cyan);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
}
.form-btn:hover {
  background: var(--clr-primary-light-cyan);
}
/* alarm and link result container */
.alarm-form-input {
  border: var(--clr-primary-red) solid 3px;
}
.alarm-form-input::placeholder {
  color: var(--clr-primary-red);
}
.alarm {
  position: absolute;
  color: var(--clr-primary-red);
  left: 0%;
  bottom: 0%;
  font-size: 1.2rem;
}
.link-result-container {
  position: relative;
  background-color: white;
  margin: 1rem 2rem;
  border-radius: var(--radius);
  padding: 1rem 1.5rem;
}
.close-btn {
  position: absolute;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--clr-neutral-greyish-violet);
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  transform: scale(1.2);
}
.link-result-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.short-link {
  color: var(--clr-primary-cyan);
}
.link-result-button {
  background: var(--clr-primary-cyan);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border: transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.link-result-button-copied {
  background: var(--clr-primary-dark-violet);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border: transparent;
  border-radius: var(--radius);
  cursor: pointer;
}
.link-result-button:hover {
  background: var(--clr-primary-light-cyan);
}
@media screen and (min-width: 920px) {
  .advanced-center {
    margin: 0 6rem;
  }
  .form-container {
    background: url(./images/bg-shorten-desktop.svg) center/cover;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    border-radius: 10px;
  }
  .form-input,
  .form-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 2.5rem 3rem;
  }
  .form-input {
    margin-right: 0;
  }
  .form-btn {
    margin-left: 0;
  }

  /* alarm and link result container */
  .alarm {
    left: 5%;
    bottom: 5%;
    font-size: 1rem;
  }
  .link-result-container {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.2rem;
  }
  .short-link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 10rem; */
    margin-left: 1rem;
  }
  .link-result-container p {
    font-size: 0.9rem;
    margin-bottom: 0rem;
    margin-right: 0;
  }
  .short-link {
    color: var(--clr-primary-cyan);
  }
  .link-result-button {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
  .link-result-button-copied {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
  }
  .close-btn {
    top: 10%;
  }
}
/*
=============== 
Advanced statistics
===============
*/
.advanced-statistics {
  margin: 5rem 2rem;
  margin-bottom: 0;
  display: grid;
  place-items: center;
}
.section-title {
  color: var(--clr-neutral-very-dark-violet);
  font-size: 2rem;
}
.advanced-statistics p {
  color: var(--clr-neutral-greyish-violet);
  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}
.statistic-container {
  position: relative;
  display: grid;
  background: white;
  border-radius: 2%;
  margin-bottom: 6rem;
  padding: 2rem;
  padding-top: 4rem;
}
.statistic-container p {
  margin-bottom: 1rem;
}
.statistic-container h3 {
  text-align: center;
}
.statistic-container img {
  padding: 1.7rem;
  width: 6rem;
}
.statistic-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  border-radius: 50%;
  background: var(--clr-primary-dark-violet);
}
@media screen and (min-width: 920px) {
  .statistics-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
  .section-title {
    font-size: 1.8rem;
  }
  .advanced-statistics p {
    margin-top: 1.5rem;
    max-width: 30rem;
    font-size: 1rem;
  }
  .advanced-statistics h3 {
    font-size: 1.2rem;
    text-align: left;
  }
  .statistic-container {
    justify-content: left;
    padding: 2rem 1.5rem;
    padding-top: 4rem;
    height: 16rem;
  }
  .statistic-container p {
    margin-bottom: 0rem;
    font-size: 1rem;
    text-align: left;
    margin-top: 0;
  }
  .statistic-container img {
    padding: 1.2rem;
    width: 5rem;
  }
  .statistic-icon {
    left: 25%;
  }
  .statistic1 {
    margin-top: 3rem;
  }
  .statistic2 {
    margin-top: 6rem;
  }
}
/*
=============== 
Footer
===============
*/
/* Get Started section */
.get-started {
  background: url(./images/bg-boost-mobile.svg) center/cover;
  padding: 5rem 2rem;
  display: grid;
  place-items: center;
}
.get-started h2 {
  font-size: 2;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 920px) {
  .get-started {
    background: url(./images/bg-boost-desktop.svg) center/cover;
    padding: 2.5rem 2rem;
  }
}

/* Footer section */
footer {
  background: var(--clr-neutral-very-dark-violet);
}
.footer-section {
  padding: 5rem 0;
  display: grid;
  place-items: center;
}
.footer-links {
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 3rem;
}
.footer-links h4 {
  letter-spacing: 0.04rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  color: white;
}
.footer-links p {
  color: var(--clr-neutral-grey);
  font-size: 1rem;
  letter-spacing: 0.04rem;
  margin: 1rem 0;
  font-weight: 400;
  transition: var(--transition);
  cursor: pointer;
}
.footer-links p:hover {
  color: var(--clr-primary-cyan);
}

.footer-social-link-container button {
  color: white;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  transition: var(--transition);
  cursor: pointer;
}
.footer-social-link-container button:hover {
  color: var(--clr-primary-cyan);
}
@media screen and (min-width: 920px) {
  footer {
    padding: 0 3rem;
  }
  .footer-section {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0;
    padding-top: 0.7rem;
  }
  .footer-section img {
    margin-top: -9rem;
    width: 7rem;
  }
  .big-screen-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    margin-left: 4rem;
  }
  .footer-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
  .footer-links {
    text-align: left;
    margin: 2rem 0;
    margin-bottom: 3rem;
  }
  .footer-social-link-container {
    margin-top: 2.5rem;
  }
  .footer-social-link-container button {
    font-size: 1.5rem;
  }
  .footer-links h4 {
    letter-spacing: 0.03rem;
    margin: 0.5rem 0;
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }
  .footer-links p {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    margin: 0.8rem 0;
  }
}
/* FM Footer */
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(320, 45%, 44%);
}
