/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary color */
  --clr-primary-cyan: hsl(180, 66%, 49%);
  --clr-primary-dark-violet: hsl(257, 27%, 26%);
  --clr-primary-red: hsl(0, 87%, 67%);

  --clr-neutral-grey: hsl(0, 0%, 75%);
  --clr-neutral-greyish-violet: hsl(257, 7%, 63%);
  --clr-neutral-very-dark-blue: hsl(255, 11%, 22%);
  --clr-neutral-very-dark-violet: hsl(260, 8%, 14%);

  --ff-primary: 'Poppins', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Navbar
===============
*/
.links-container {
  background: var(--clr-primary-dark-violet);
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0.55rem;
  transition: var(--transition);
  height: 0;
  overflow: hidden;
}

.nav-center {
  padding: 3rem 2rem;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-toggle {
  font-size: 2rem;
  border: transparent;
  background: transparent;
  color: var(--clr-neutral-grey);
  cursor: pointer;
}
.links a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem 3rem;
  margin: 0.2rem 0;
  transition: var(--transition);
  cursor: pointer;
}
.links a:hover {
  background-color: var(--clr-primary-cyan);
  border: none;
  padding: 1rem 3rem;
  text-align: center;
  margin: 0.2rem 0;
  cursor: pointer;
  border-radius: 35px;
}
.show-container {
  height: 10rem;
}
.links hr {
  width: 25rem;
  height: 2px;
  opacity: 20%;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-header {
    margin-bottom: 0;
  }

  .links-container {
    height: auto !important;
    background: white;
  }
  .nav-toggle {
    display: none;
  }
  .links hr {
    display: none;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  .links a {
    color: var(--clr-neutral-greyish-violet);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .links a:hover {
    color: var(--clr-primary-dark-violet);
    background: transparent;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 0px;
  }
  .login-links {
    display: flex;
    margin-left: 7rem;
    justify-content: space-between;
  }
  .login-links a {
    padding: 0.5rem 1rem;
    background: transparent;
  }
  .login-links a:hover {
    background: var(--clr-primary-cyan);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1100px) {
  .login-links {
    margin-left: 20rem;
  }
}
/*
=============== 
Navbar
===============
*/
.hero-center {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.hero-center img {
  width: 90%;
}
.hero-info {
  display: grid;
  place-items: center;
  padding: 2rem;
  width: 90vw;
}
.hero-info h2 {
  font-size: 3rem;
  color: var(--clr-neutral-very-dark-violet);
  text-align: center;
  line-height: 3.5rem;
}
.hero-info p {
  color: var(--clr-neutral-grey);
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.hero-btn {
  background: var(--clr-primary-cyan);
  color: white;
  padding: 1.4rem 2.8rem;
  border-radius: 35px;
  text-align: center;
  border: transparent;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
}
.hero-btn:hover {
  opacity: 60%;
}
@media screen and (min-width: 800px) {
  .hero-center {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'a b';
    column-gap: 2rem;
  }
  .hero-image {
    width: 60vw;
    object-fit: cover;
    grid-area: b;
    margin-right: -5rem;
  }
  .hero-info {
    grid-area: a;
    width: 40vw;
    margin-left: 5rem;
    justify-items: left;
  }
  .hero-info h2 {
    text-align: left;
    line-height: 3.5rem;
  }
  .hero-info p {
    color: var(--clr-neutral-grey);
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .hero-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    align-self: left;
  }
}
